.colection-item{
  width:20%;
   height:380px;
   flex:1 1 1 auto;   
   display:inline-flex; 
   margin-left:40px; 
   justify-content: space-between;  
  
   border:1px solid black;
   &:hover{
    cursor:pointer;
   
    }
    
    .colection-image{ 
        width:100%;
        height:90%;  
        background-position:center ;
        background-size:cover ;  
        
        display:flex;
              
        margin-bottom: 5px;

       
    }    
     
    
    
}
.colection-footer{
    width: 100%;
     height:10%;       
     justify-content:space-between;
     display: flex;           
     font-size: 18px;
     margin-top:350px;
     padding-left:20px;
     padding-right: 20px;       
       
 }  



.title{
    padding-left:40px;
}

   







