.colection-preview{
    width:90%;
    background-color: greenyellow;
    height:240px;
    border:1px solid black;
    &.title{
        font-size: 22px;

    }

    &.preview{
        font-size: 10px;

    }
       
}




