.header-container{
    height:100px;
    width:100%;
    display:flex;
   justify-content: space-between;
}   

    .logo-content{
        height:100%;
        width:100px;
        justify-content: space-between;
    }   
    .logo{
        height:100%;        
        margin-left: 20px;
        padding-left:20px;
        align-items:center;
    }
        
    

    .options{
        width:50%;
        height:100%;
        display:flex;
        margin:10px;
        margin-right: 25px;
        align-items:center;
        justify-content:flex-end;
    }
        .option{
            padding:10px 15px;
        }

    


